@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(8, 47, 73, 0.35), transparent 40%),
    radial-gradient(circle at bottom, rgba(14, 116, 144, 0.15), transparent 35%),
    #020617;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}